= form_tag search_results_path, method: 'get' do 
	= label_tag 'Keywords: '
	= text_field_tag :search_keywords
	= label_tag 'Tags: '
	= select_tag :tags, 
		options_for_select(Tag.all.map{ |u| [u.name, u.id] }, ), 
		{class: %w(chosen-select chosen-drop form_control), multiple: true}
	= submit_tag "Search"